body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: lightyellow;
}
#number{
    background-color: lightpink;
    color: lightskyblue;
    text-decoration: none;
}
#img-cat{
    height: ;
    width: ;
}